html {
    background-image: url('../images/scatter.png')
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid black;
}

.page {
    width: 600px;
    margin: auto;
    border: 8px double;
    background-color: white;
    box-shadow: 4px 4px 5px;
}

nav {
    display: flex;
    justify-content: center;
}

nav > button {
    width: 100%;
    border-radius: 0px;
}

button {
    border-radius: 0px;
}

footer {
    text-align: center;
}

header,main {
    padding: 8px;
}

.subtext {
    padding: 0px;
    margin: 0px;
    color: dimgray;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

.post {
    border: 5px double;
    background-color: white;
    width: fit-content;
    padding: 7px;
    box-shadow: 4px 4px 5px;
    max-width: 500px;
    margin-top: 25px;
    margin-right: 25px;

    height: fit-content;
}

.post > p {
    padding: 0px;
    margin: 0px;
}

.post > img {
    /*max-width: 70%;
    max-height: 70%;*/
    max-width: 320px;
    border: 2px solid;
}

.post > video {
    /*max-width: 70%;
     *   max-height: 70%;*/
    max-width: 320px;
    border: 2px solid;
}
