.main {
    padding: 10px;
    border-right: solid 2px dimgray;
    border-bottom: solid 2px dimgray;
    background-color: rgba(0, 0, 0, 0.204);
}

.banner {
    background-image: url('../images/banner.jpg'); 
    background-size: cover; 
    background-position: 0% 65%; 
    height: 100px;
}

/* HEADER */

.header {
    display: flex;
    /* justify-content:space-between; */
    justify-content: space-evenly;
}

.header > div {
    display: inline; 
    border: 4px double gray; 
    /* margin-left: 8px;  */
    padding: 5px; 
    margin: 3px;
    /*width: 300px;*/
    min-width: 300px;
    height: fit-content;
    text-align: center;
}

.header > div > img {
    /*max-width: 300px;*/
    width: 300px;
    float: center;
}

.header > div > p {
    /* font-style: italic;  */
    /* text-decoration: underline; */
    color: rgb(104, 186, 159);
    text-align: left;
}

.header > div > h4 {
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
    font-style: italic;
    text-align: left;
}

.header > div > a {
    font-style: normal; 
    float: left;
    /* text-decoration: underline; */
}

/* END HEADER */

h2 {
    margin: 0px;
    padding: 0px;
}

h3 {
    border: 4px double gray;
    padding: 5px;
    width: fit-content;
    margin-bottom: 0px;
}

p {
    margin: 0px;
}

.title {
    text-align: center;
}

body {
    background-image: url('../images/tile.png');
    font-family: serif;
    font-size: 14px;
    color: white;
    width: 1000px;
    margin: 0px;
}

.box {
    border: 4px double gray;
    padding: 5px;
    width: fit-content;
    margin-bottom: 0px;
}

.subtext {
    font-style: italic; 
    color: dimgray;
}

a {
    color: rgb(104, 186, 159);
}

.evil {
    color: crimson;
}

.evil:hover {
    color: crimson;
}

a:hover {
    color: rgb(147, 215, 192);
}

.link-external {
    color: rgb(152, 152, 0);
}

.link-external:hover {
    color: rgb(231, 231, 80);
}

table, tr, td {
    padding: 0px;
    margin: 0px;
    text-align: left;
    border-width: 0px;
}
