:root {
    --main-color: #e88d2c;
    --ext-color: #aab255;
}

body {
    background-image: url("../images/tile2.png");
    font-family: serif;
    font-size: 14px;
}

h1,h2,h4 {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 16px;
    border: 4px double dimgray;
    width: fit-content;
    padding: 3px;
}

img {
    /*border: 5px double dimgray;*/
}

.banner {
    border: 0px;
    width: 800px;
}

.main {
    border: 2px solid dimgray;
    width: 800px;
    margin: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.504);
    color: white;
}

a {
    color: var(--main-color);
}

a:hover {
    color: #f7b56f;
}

footer {
    color: white;
    text-align: center;
    color: dimgray;
}

.flexbox {
    display: flex;
    justify-content: left;
}

.flexbox > div {
    /*border: 1px solid gray;*/
    /*margin-right: 30px;*/
    margin: 10px;
    /*border: double 5px dimgray;
    padding: 5px;*/
}

.flexbox > div > p {
    padding: 0px;
    margin: 0px;
}

span {
    color: #e88d2c;
}

.evil {
    color: darkred;
}

.evil:hover {
    color: crimson;
}

.link-external {
    color: var(--ext-color);
}

.link-external:hover {
    color: rgb(231, 231, 80);
}

.infobox {
    border: double 5px dimgray;
    width: 300px;
    height: fit-content;
    padding: 5px;
}

.infobox > p {
    color: #e88d2c;
    padding: 0px;
    margin: 0px;
}
