body { background-color: #070000; color: #aaaaaa; font-family: "IBM VGA 8x16"; font-size: 16px; line-height: 16px; word-break: break-word; }

@font-face { font-family: "IBM VGA 8x16"; src: url("IBM_VGA_8x16.woff") format('woff'); }

.main-box {
    width: 930px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    border: 1px solid rgb(255, 255, 255);
}

.title {
    border: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    width: 742px;
    text-align: center;
    float: right;
    font-weight: bold;
    text-transform: uppercase;
    height: 20px;
}

.page-content {
    border: 1px solid rgb(255, 255, 255);
    height: fit-content;
    height: 500px;
    padding: 5px;
    background-color: #121212;
}

.intro {
    float: right;
    width: 742px;
}

.nav-area {
    border: 1px solid rgb(255, 255, 255);
    float: left;
    width: 160px;
    padding: 3px;

}

.content {
    width: 742px;
    float: right;
    padding: 3px;
    text-align: center;
}

.buttons {
    width: 160px;
    padding: 1px;
    align-items: center;
}

/* p + ul { margin-top: -16px; }

img { color: #aa5500; }

img:active { color: #ffff55; }

img:focus { color: #ffff55; outline: none; }

img:hover { color: #ffff55; }

img:visited { color: #aa5500; }

img::selection { color: #000000; background-color: #aa5500; }

h1 span::selection { color: #5555ff; background: #aa5500; }

p::selection { color: #000000; background-color: #aaaaaa; }

a::selection { color: #000000; background-color: #00aa00; }*/ /*#128d64*/

a:link { color: #128d64; }

a:visited { color: #128d64; }

/*a:active { color: #ffff55; }

a:focus { color: #ffff55; outline: none; }

a:hover { color: #ffff55; }

ul::selection { color: #000000; background-color: #aa5500; }

li::selection { color: #000000; background-color: #aa00aa; }

strong::selection { color: #555555; background-color: #aa0000; }

i::selection { color: #555555; background-color: #0000aa; }

em::selection { color: #555555; background-color: #0000aa; }

a { color: #00aa00; text-decoration: none; outline: none; }

h1 { color: #ffff55; font-size: 16px; text-align: center; }

h1 span { background-color: #0000aa; }

ul { padding: 16px; padding-top: 0px; padding-bottom: 0px; color: #aa5500; }

ul > li { margin-right: 100px; margin-left: 16px;}

li { color: #aa00aa; list-style: none; }

li:before { content: "\00a0\00a0"; }

ul > li:before { content: "*\00a0"; position: absolute; left: 24px; }

strong { font-weight: normal; color: #ff5555; }

i { font-style: normal; color: #5555ff; }

em { font-style: normal; color: #5555ff; } */